@import './_normalize.css';

@font-face {
    font-family: "Super Mario";
    src: url("../public/fonts/supermario286rusbylyajka.otf");
}

body {
    font-size: 14px;
    font-family: "Super Mario", sans-serif;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#container-games {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#welcome{
    text-align: center;
    font-size: 2rem;
}
#gameCanvas {
    display: none;
    background: #1b1a1a;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/* для крестиков-ноликов */
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#tictacContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}


/* start flappy bird */
.bird {
    position: relative;
    width: 288px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .bird__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../public/images/flappyBird/bgMenu.png);
    background-size: cover;
    background-position: center;
  }

  .bird__menu_content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bird__menu_start {
    position: absolute;
    width: 153px;
    height: 42px;
    background-image: url(../public/images/flappyBird/bgButton.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s;
  }

  .bird__menu_start:hover {
    transition: all 0.3s;
    opacity: 0.7;
  }
  
  .d-none {
    display: none !important;
  }

  .food {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* end flappy bird */